/* #descricao-videogame, #descricao-pc {
    background-color: rgb(138, 255,122);
} */
.descricao-produto {
    background-color: rgb(255, 120, 150);
    color: aliceblue;
}

.promocao {
    border:solid 4px green;
}